# Виртуальное окружение
venv/
env/
ENV/

# Python кэш
__pycache__/
*.py[cod]
*$py.class
*.so

# Переменные окружения
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# База данных (если будет SQLite)
*.db
*.sqlite3